<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p>[[${list}]]</p>

<!--  타임리프 반복문-->
  <th:block th:each="element:${list}">
      <p>[[${element}]]</p>
  </th:block>

<!--  타임리프 조건문 -->
<!--  ${변수} 변수표현식-->
<!--  @{URL주소} 주소표현식-->

  <th:block th:each="element:${list}">
<!-- th:if="조건식": 조건식이 true 이면 화면에 표시-->
      <div th:if="${element == 'judy'}">judy가 맞습니다.</div>
<!-- th:unless="조건식": 조건식이  false 이면 화면에 표시-->
      <div th:unless="${element == 'judy'}">judy가 틀립니다.</div>
  </th:block>


<!--  자바스크립트 문법을 사용할 수 있게하는 -->
  <script th:inline="javascript">
      let message = [[${list}]];
      console.log(message);
  </script>

</body>
</html>